<div class="view-container">
  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Clan Events</span>

    <div class="spacer"></div>

    <div class="user" *ngIf="isAuthenticated$ | async">
      <mat-select class="clan-select" *ngIf="(clans$ | async) as clans" [formControl]="selectedClanControl"
        placeholder="Select a clan">
        <mat-option *ngFor="let clan of clans" [value]="clan.name">
          {{clan.displayName}}
        </mat-option>
      </mat-select>

      <mat-chip-listbox *ngIf="(userName$ | async) as userName">
        <mat-chip-option class="user-chip" [highlighted]="true" color="primary" [selectable]="false"
          [routerLink]="['/profile']">
          <mat-icon matChipAvatar>account_circle</mat-icon>
          {{userName}}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <a mat-flat-button color="primary" *ngIf="!(userName$ | async)" class="nav-link" [href]="discordLoginUrl">
      Log in
    </a>
    <a mat-flat-button *ngIf="(userName$ | async)" (click)="logout()">Log out</a>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer mode="side">
      <mat-action-list>
        <app-toggle-theme></app-toggle-theme>

        <a mat-list-item routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="'/'">Clan events</a>
        <a mat-list-item routerLinkActive="active-link" [routerLink]="'counter'">Counter</a>
        <a mat-list-item routerLinkActive="active-link" *ngIf="selectedClan$ | async as clan"
          [routerLink]="[clan.name, 'events']">Events</a>
        <a mat-list-item routerLinkActive="active-link" [routerLink]="'clan'">Clans</a>
      </mat-action-list>
    </mat-drawer>

    <mat-drawer-content class="view-content-container">
      <div class="view-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>