<div *ngIf="clan$ | async as clan" class="d-flex flex-column flex-grow-1">
  <div class="d-flex justify-content-between flex-row">
    <h3 class="d-flex">{{clan.displayName}}</h3>
    <div class="d-flex">
      <button mat-button class="me-2" color="primary" *ngIf="!(editMode$ | async) && (role$ | async) != roleEnum.Member"
        type="button" (click)="enterEditMode()">Edit</button>
      <button mat-button class="me-2" *ngIf="(editMode$ | async)" type="button" (click)="addMember()">Add</button>
      <button mat-button class="me-2" *ngIf="(editMode$ | async)" type="button" (click)="confirmEdit()">Save</button>
      <button mat-button class="me-2" *ngIf="(editMode$ | async)" type="button" (click)="discardEdit()">Discard</button>
      <button mat-raised-button color="primary" type="button" *ngIf="(role$ | async) == roleEnum.Owner"
        (click)="deleteClan()">Delete</button>
    </div>
  </div>
  <div>

  </div>
  <table mat-table [dataSource]="(editMode$ | async) ? clanMembers: clan.members" class="mat-elevation-z8">
    <ng-container matColumnDef="clanRole" *ngIf="role$ |async as role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!(editMode$ | async) else elseBlock;">
          {{element.clanRole}}
        </span>
        <ng-template #elseBlock>
          <mat-form-field subscriptSizing="dynamic">
            <mat-select title="Select role" [(ngModel)]="element.clanRole"
              [disabled]="(discordId$ | async) == element.discordId || !isAllowedToEdit(role, element.clanRole)">
              <mat-option *ngFor="let availableRole of clanRoles" [value]="availableRole"
                [disabled]="!isAllowedToEdit(role, availableRole)">{{availableRole}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <!-- Discord Id Column -->
    <ng-container matColumnDef="discordId" *ngIf="role$ |async as role">
      <th mat-header-cell *matHeaderCellDef> DiscordId </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!(editMode$ | async) else elseBlock;">
          {{element.discordId}}
        </span>
        <ng-template #elseBlock>
          <mat-form-field subscriptSizing="dynamic">
            <input title="Discord Id" matInput placeholder="Simple placeholder" [(ngModel)]="element.discordId"
              [disabled]="(discordId$ | async) == element.discordId 
          || !isAllowedToEdit(role, element.clanRole)" />
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Delete column -->
    <ng-container matColumnDef="delete" *ngIf="role$ |async as role">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="(discordId$ | async) != element.discordId && isAllowedToEdit(role, element.clanRole)"
          mat-icon-button color="primary" (click)="removeMember(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="activeTableColumns$ | async"></tr>
    <tr mat-row *matRowDef="let row; columns: activeTableColumns$ | async"></tr>

  </table>
</div>
