@use '@angular/material' as mat;
@use 'theme/variables' as variables;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: mat.define-typography-config(
      $font-family: 'Lato',
    ),   
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
    typography: mat.define-typography-config(
      $font-family: 'Lato',
    ),
  )
);


.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include variables.app-theme-css-variables($dark-theme);
}

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include variables.app-theme-css-variables($light-theme);
}
