<span class="header">
  <h2>Events</h2>
  <a [routerLink]="['/events', 'create']" mat-flat-button color="primary"
    >Create new Event</a
  >
</span>

<ul *ngIf="events$ | async as events" class="events">
  <li *ngFor="let event of events.data.items" class="event">
    <span class="event__left">
      <span class="event__name">{{ event.name }}</span>
      <span class="event__description">{{ event.description }}</span>
    </span>
    <span class="event__middle">
      <span class="event__starts-at">{{
        event.startsAt | date : 'short'
      }}</span>
      <span class="event__ends-at">{{ event.endsAt | date : 'short' }}</span>
    </span>
    <a [routerLink]="['/events', event.id]" mat-flat-button color="primary"
      >View</a
    >
  </li>
</ul>

<div class="pagination">
  <mat-paginator
    [length]="length$ | async"
    [pageSize]="pageSize$ | async"
    (page)="onPageChange($event)"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
