@use 'theme/variables' as variables;

:host {
  width: 100%;
  padding: 32px;

  mat-spinner {
    margin: 50px auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .pagination {
    margin-top: 16px;

    mat-paginator {
      background-color: var(--app-background-color-z-3);
      color: var(--app-text-color);
      border: 1px solid var(--app-border-color-z-3);
      border-radius: var(--app-border-radius);
    }
  }

  .no-events {
    margin: 50px auto;
    text-align: center;
  }

  .events {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    row-gap: 8px;

    .event {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: var(--app-background-color-z-3);
      padding: 16px;
      border-radius: var(--app-border-radius);

      .event__left {
        display: flex;
        flex-direction: column;
      }

      .event__middle {
        display: flex;
        column-gap: 16px;
      }

      .event__right {
        display: flex;
        column-gap: 8px;
      }
    }
  }
}
