<ng-container *ngIf="event$ | async as event">
  <div class="actions" *ngIf="selectedClan$ | async as selectedClan">
    <button mat-flat-button (click)="back()">Back</button>
    <a mat-flat-button [routerLink]="['/', selectedClan.name, 'events', event.data.id, 'edit']">Edit</a>
    <button mat-flat-button color="warn" (click)="delete(event.data.id)">
      Delete
    </button>
    <a mat-raised-button color="primary" [routerLink]="['teams']">
      Teams
    </a>
  </div>

  <div class="event">
    <h2>{{event.data.name}}</h2>

    <span class="label">Description</span>
    <span class="value">{{event.data.description}}</span>

    <span class="label">Starts at</span>
    <span class="value">{{event.data.startsAt | date: 'medium'}}</span>

    <span class="label">Ends at</span>
    <span class="value">{{event.data.endsAt | date: 'medium'}}</span>

    <span class="label">Board Type</span>
    <span class="value">{{event.data.board.type}}</span>
  </div>
</ng-container>

<app-board></app-board>
